<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>States</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Trail Blazer</a>
    </div>
  </nav>
  <div class="flex-main-index-container">
    <!-- jumbotron -->
    <div class="flex-header-content">
      <h1 class="display-4">Trail Blazer</h1>
      <p class="lead">
        This is a modified jumbotron that occupies the entire horizontal space
        of its parent.
      </p>
      <!-- Search bar -->
      <div class="flex-search-bar">
        <form class="d-flex" autocomplete="off" action="/" method="GET">
          <input
            class="form-control me-2"
            type="text"
            name="search"
            placeholder="Search for State"
          />
          <input
            id="search-button-submit"
            class="btn btn-outline-success"
            type="submit"
            value="Search"
          />
        </form>
      </div>
    </div>
    <!-- ////////////////////// -->
    <!-- checks if no search result was found -->
    <div class="flex-no-state">
      <% if (noSearchMatch !== undefined) { %>
      <h1 class="display-4"><%=noSearchMatch%></h1>
      <% } %>
    </div>
    <!-- ///////////////////// -->
    <div class="flex-states-container-row">
      <% for (let i=0; i < states.length; i++) { %>
      <div class="flex-states-container-column">
        <a class="state-anchor" href="/<%=states[i].state;%>"
          ><%=states[i].state;%></a
        >
        <div class="flex-states-container-column-image-container">
          <a href="/<%=states[i].state;%>">
            <img src="<%=states[i].image%>" alt="<%=states[i].state%>" />
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</html>

<!-- graveyard -->

<!-- <a href="/<%#=trails[i]._id;%>"><%#=trails[i].state;%></a> -->

<!-- style="background-image: url(<%#=states[i].image%>)" -->
