<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>state</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- ////////////////////////// -->
    <!-- checks to see if there are any trails left in the current state -->
    <!-- if there is than it will work like normal. If not it will say there are no trails in that state -->
    <% let currentState = "" %> <% for (let i=0; i < trails.length; i++) { %>
    <%currentState = trails[i].state%> <% } %> <% if (currentState === "") { %>
    <h1>Cannot find trails in <%=state%>... Sorry</h1>
    <% } else { %>
    <h1 style="font-size: 45px">Trails in <%=state%></h1>
    <% } %>
    <!-- //////////////////////////// -->
    <!-- button to add a new trail for that state -->
    <button
      class="link-button"
      type="button"
      onclick="location.href='/<%=state%>/new'"
    >
      Add a new trail for <%=state%>!
    </button>
    <!-- //////////////////////////// -->
    <% for (let i=0; i < trails.length; i++) { %>
    <h2>Trail Name: <%=trails[i].name%></h2>
    <h2>City: <%=trails[i].city%></h2>
    <h2>Length In Miles: <%=trails[i].miles%></h2>
    <h2>Description: <%=trails[i].description%></h2>
    <form action="/<%=trails[i].id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>
    <% } %>
  </body>
  <!-- <a href="/<%#=state%>/new">
    <button type="button">Add New Trail</button>
  </a> -->
</html>
<!-- graveyard -->
<!-- <img src="<%#trails[i].image%>" alt="<%#=trails[i].name%>" /> -->
